* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --raisin-black: #1a1423ff;
  --dark-purple: #372549ff;
  --eggplant: #774c60ff;
  --redwood: #b75d69ff;
  --pale-dogwood: #eacdc2ff;
  --pale-dogwood-light: #fff6f2;

  --border: 1px solid var(--eggplant);
  --border-radius: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--raisin-black);
  color: var(--pale-dogwood);
  height: 100vh;
  position: relative;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

button {
  padding: 2rem 5rem;
  background-color: var(--redwood);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover {
  color: var(--pale-dogwood-light);
}

button,
label {
  color: inherit;
  font-size: 2rem;
}

/* Overlay */

.form-overlay {
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.349);
  width: 100%;
  height: 100%;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  .form-close {
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
  }
}

.form-overlay > div {
  background-color: var(--dark-purple);
  width: 50%;
  padding: 2rem 3rem 2rem 3rem;
  border: var(--border);
}

.form-add {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  .form-row {
    display: flex;
    justify-content: space-evenly;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2rem 1rem;
    width: 60%;
  }

  .form-row:nth-last-child(2) {
    justify-content: center;
    gap: 2rem;
    border: none;
    padding: 0;

    input[type="checkbox"] {
      height: 2rem;
      width: 2rem;
    }
  }

  .form-row:last-child {
    justify-content: center;
    border: none;
    padding: 0;
  }
}

input {
  border: var(--border);
  border-radius: var(--border-radius);
  padding-left: 8px;
  width: 50%;
}

input:focus,
select:focus {
  outline: none;
}

select {
  width: 50%;
  text-align: center;
}

select:active {
  text-align: left;
  outline: none;
}

/* Main page */
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding-top: 6rem;
}

nav {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading-main {
    font-size: 6rem;
  }

  .nav-btns {
    display: flex;
    gap: 3rem;
  }
}

main {
  padding-top: 6rem;
}

.placeholder {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.book-card {
  background-color: var(--dark-purple);
  display: flex;
  justify-content: center;
  border: 1px solid var(--redwood);
  border-radius: var(--border-radius);
  width: 75%;
  margin: auto auto 2rem auto;
  padding: 2rem;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
    color: var(--pale-dogwood);
  }

  .show-data {
    font-weight: 200;
  }

  .data {
    font-weight: bold;
  }
}

.book-actions {
  display: flex;
  width: 75%;
  margin: auto auto 6rem auto;
  justify-content: center;
}

.book-actions span {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.book-actions span button {
  background-color: transparent;
  border: var(--border);
}

span {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}
